@inject Microsoft.Extensions.Localization.IStringLocalizer Localizer
@{
    string username = User.Identity.Name;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Book</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/movie_filter_FILL0_wght400_GRAD0_opsz48.svg">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="nav-bar">
        <div class="logo">
            recipe book
        </div>
        <ul class="nav-link">
            <li><a class="active" href="/Home/Index">@Localizer["main"]</a></li>
            <li><a href="/Home/About">@Localizer["About us"]</a></li>
            @if (!string.IsNullOrEmpty(username))
            {
                <li>
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="#">@Localizer["Admin"] <i class="fa fa-caret-down"></i></a>
                    }
                    else
                    {
                        <a href="#">@username<i class="fa fa-caret-down"></i></a>
                    }

                    <ul class="dropdown-nav-link">

                        @if (User.IsInRole("Admin"))
                        {
                            <li><a href="/Category/Add">@Localizer["Categorys"]</a></li>
                        }
                        <li><a href="/Recipe/Add">@Localizer["Recipes"]</a></li>

                        <li><a href="/UserAuthentication/Logout">@Localizer["Logout"]</a></li>
                    </ul>
                </li>
            }

            @if (string.IsNullOrEmpty(username))
            {
                <li><a href="/UserAuthentication/Login">@Localizer["Login"]</a></li>
            }
            <div style="display: inline-block;">
                <button class="btn btn-default" onclick="setLanguage('en')">English</button>
                <button class="btn btn-sec" onclick="setLanguage('uk')">Українська</button>
            </div>
        </ul>
        <script>
            function setLanguage(culture) {
                // Надсилання запиту на сервер для зміни кукі
                fetch('/Home/SetLanguage', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `culture=${culture}&returnUrl=${encodeURIComponent(window.location.pathname)}`,
                })
                .then(() => {
                    // Оновлення сторінки після зміни мови
                    window.location.reload();
                })
                .catch(error => console.error('Error setting language:', error));
            }
        </script>
    </nav>
    <div>
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <footer>
        &#169; 2024 Bohdan Shvets
    </footer>
</body>
</html>