
@model RecipeBookMvc.Models.DTO.RecipeListVM
@{
    Layout = "_Layout";
}
    
<div class="container">
    <section class="search-bar">
        <form method="get" asp-action="Index">
            <input type="text" name="term" placeholder="Пошук">
            <button type="submit"><i class="fa fa-search"></i></button>
            <a class="btn btn-default" href="/Home/Index">Все</a>
        </form>
    </section>
    <section class="movies">


        @foreach (var recipe in Model.RecipeList)
        {
            <div class="movie-card" onclick="window.location.href='/Home/RecipeDetail?recipeId=@recipe.Id'">
                <div class="movie-image">
                    <img src="/Uploads/@recipe.RecipeImage">
                </div>
                <div class="movie-info">
                    <h4>@recipe.Title</h4>
                    <h4>@recipe.CategoryNames</h4>
                    <h4>@recipe.Complexity</h4>
@*                     <h4>Інгредієнти: @recipe.Ingredients</h4>
                    <h4>Процес: @recipe.Instruction</h4> *@
                </div>
            </div>
        }

    </section>

    <div class="pagination">
        @for(int i=1;i<=Model.TotalPages;i++)
        {
            if(i==Model.CurrentPage)
			{
				<a class="active" href="/Home/Index?currentPage=@i&term=@Model.Term">@i</a>
			}
			else
			{
                <a  href="/Home/Index?currentPage=@i&term=@Model.Term">@i</a>
			}
        }
</div>