@model RecipeBookMvc.Models.Domain.Recipe;
@{
}
<div class="movie-detail w-80 m-auto">
    <div class="img-container">
        <img alt="image" src="/Uploads/@Model.RecipeImage">
    </div>

    <div class="detail-container">
        <h3 class="mb-1">@Model.Title</h3>
        <h4 class="mb-1">Категорія: @Model.CategoryNames</h4>
        <h4 class="mb-2">Складність: @Model.Complexity</h4>
        <div class="m-with-line">
            <h4 class="recipe-abriviation">Інгредієнти:</h4>
            <h4 class="mb-1">@Model.Ingredients</h4>
        </div>
        <div class="m-with-line">
            <h4 class="recipe-abriviation">Процес:</h4>
            <h4>@Model.Instruction</h4>
        </div>
    </div>
</div>
<div class="w-80 m-auto">
    <a href="/Home/Index" class="btn btn-default">Назад</a>
</div>
